body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cecece;
}

.site-navigation ul {
  float: left;
  margin-left: 150px;
}

.site-navigation li {
  display: inline;
  padding: 0px 1px;
  margin-left: 150px;
}

.top-image {
  position: relative;
  height: 500px;
  background: #517ca4 url("../img/sedona-home-screen.png") no-repeat 50% 21%;
}

ul {
  list-style: none;
}

.hotels .amara {
  color: #000000;
}
.hotels .amara:hover {
  color: #81b3d2;
}
.hotels .amara:active {
  color: #b2b2b2;
}

.hotels .quail {
  color: #000000;
}
.hotels .quail:hover {
  color: #81b3d2;
}
.hotels .quail:active {
  color: #b2b2b2;
}

.hotels .poco {
  color: #000000;
}
.hotels .poco:hover {
  color: #81b3d2;
}
.hotels .poco:active {
  color: #b2b2b2;
}

.btn-right {
  color: white;
  background-color: #766357;
}


.btn-right:hover {
  color: white;
  background-color: #604e43;
}

.btn-right:active {
  color: #857871;
  background-color: #503e33;
  opacity: 0.8;
}

.btn-left {
  background-color: #81b3d2;
  color: #ffffff;
}

.btn-left:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.btn-left:active {
  color: #88b6d1;
  background-color: #5496bd;
  opacity: 0.8;
}

.footer p {
  top: 15px;
  position: relative;
  left: 280px;
}

.social-link .twitter::before {
  width: 30px;
  content: "";
  height: 30px;
  left: 725px;
  top: 1900px;
  position: absolute;
  background-position: 6px, center;
  background-repeat: no-repeat;
  background-image: url(/img/icon-twitter.svg);
  background-color: #81b3d2;
}

.social-link .facebook::before {
  content: "";
  width: 30px;
  height: 30px;
  left: 760px;
  top: 1900px;
  position: absolute;
  background-position: 6px, center;
  background-repeat: no-repeat;
  background-image: url(/img/fb-icon.svg);
  background-color: #81b3d2;
}

.social-link .youtube::before {
  content: "";
  width: 30px;
  height: 30px;
  left: 795px;
  top: 1900px;
  position: absolute;
  background-position: 6px, center;
  background-repeat: no-repeat;
  background-image: url(/img/icon-youtube.svg);
  background-color: #81b3d2;
}

.social li {
  background-color: #81b3d2;
}

.social li:focus {
  background-color: #669ec0;
}

.social li:active {
  background-color: #5496bd;
  opacity: 0.8;
}

.footer .link-academy {
  text-align: right;
}

.link-academy a {
  color: #000000
}

.link-academy a:hover {
  color: #81b3d2;
}

.link-academy a:active {
  color: #bdbbbc;
}
