.site {
  margin: 0 auto;
  min-width: 1200px;
  width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f0f0f0;
  text-transform: uppercase;
  min-width: 1200px;
}

header {
  background-color: #ffffff;
}

main {
  background-color: #ffffff;
}

footer {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

.site-navigation {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 0;
}

.site-navigation li {
  display: block;
  width: 239px;
}

.menu-item-left {
  display: block;
  padding-left: 71px;
}

li.menu-item-right {
  display: flex;
  padding-right: 72px;
  justify-content: flex-end;
}

.menu-item-right a {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  padding-right: 75px;
  letter-spacing: 0.4px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 73px;
}

.menu-item-right:nth-child(1) {
  margin-left: auto;
}

.logo-sedona {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation a {
  color: #000000;
}

.site-navigation a.active {
  color: #766357;
}

.site-navigation a:not(.active):hover {
  color: #81b3d2;
}

.site-navigation a:not(.active):active {
  color: #cecece;
}

.site-navigation ul {
  margin-left: 150px;
}

.top-image::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 59px;
  background: url("../img/intro-mask.svg") no-repeat center 2px;
}

.top-image {
  position: relative;
  display: flex;
  min-height: 507px;
  background: #517ca4 url("../img/sedona-home-screen.jpg") no-repeat 50% 21%;
}

.top-image .welcome-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 59px;
}


ul {
  list-style: none;
}


.word-welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 353px;
  width: 459px;
  transform: translate(-50%, -50%);
}

.future-item {
  display: flex;
  justify-content: space-around;
}

.future .future-title {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}


.future .future-description {
  margin-bottom: 51px;
  padding-top: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #333333;
  padding-bottom: 2px;
}

.future-item-blue {
  display: flex;
  flex-wrap: wrap;
}

.future-name {
  margin: 0 auto;
  max-width: 150px;
  font-weight: 800;
  font-size: 21px;
}

.item-one .future-name {
  max-width: 142px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  line-height: 21px;
}

.future .future-text {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  max-width: 304px;
}

.section-one {
  display: flex;
}

.future-item.future-item-blue .future-text,
.future-item.future-item-blue .future-number,
.future-item.future-item-blue .future-name {
  color: #ffffff;
}

.section-one .future-item-blue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  padding: 46px;
  color: #ffffff;
  background-color: #81b3d2;
}

.future-item-gray .future-text {
  margin-top: 20px;
}

.section-one h3,
.section-one p {
  text-align: center;
  line-height: 21px;
}

.section-one h3 {
  margin: 0 auto;
  width: 120px;
  line-height: 22px;
}

.section-one p {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}


.future-number {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
}

.future-item-wrapper {
  position: relative;
  width: 400px;
  min-height: 330px;
  padding: 158px 50px 45px 50px;

}

.future-item-wrapper h3,
.future-item-wrapper p {
  text-align: center;
}

.housing::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
  background: url("../img/icon-house.svg") no-repeat center bottom;
}

.eat::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  width: 74px;
  height: 76px;
  background: url("../img/icon-burger.svg") no-repeat center bottom;
}

.gift::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background: url("../img/icon-present.svg") no-repeat center bottom;
}

.section-blue ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-blue li {
  width: 100%;
}

.section-blue .item-one {
  display: flex;
  align-items: flex-start;
}

.item-one .future-text {
  text-align: center;
  margin-top: 26px;
}

.section-two {
  display: flex;
}

.section-two .future-item-blue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}

.section-two .future-item {
  padding: 46px 48px 16px 48px;
  text-align: center;
}

.future-item-gray {
  background-color: #eeeeee;
}

.future-item-gray .future-item-wrapper {
  min-height: 256px;
  padding-top: 47px;
  padding-bottom: 60px;
  line-height: 21px;
}

.search-btn {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 86px;
  text-align: center;
  color: #ffffff;
  letter-spacing: -0.6px;
  background-color: #766357;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.form-wrapper {
  position: relative;
}

.date-arrival,
.date-deport {
  color: #000000;
  background-color: #f2f2f2;
}

.date-arrival:hover,
.date-deport:hover {
  color: #000000;
  background-color: #ebebeb;
}

.date-arrival:focus,
.date-deport:focus {
  padding-left: 11px;
  padding-right: 38px;
  color: #000000;
  outline: 0;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.button-minus,
.button-plus {
  color: #a9a9a9;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #81b3d2;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.form-date-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.form-date-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: block;
  width: 21px;
  height: 22px;
  fill: #a9a9a9;
}

.form-date-icon:hover {
  fill: #000000;
}

.form-date-icon:active {
  fill: #81b3d2;
}

.search {
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  line-height: 58px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  background-color: #81b3d2;
}

.search:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.search:active {
  color: #88b6d1;
  opacity: 0.8;
  background-color: #5496bd;
}

.form-date-input {
  padding: 0 40px 0 13px;
  width: 346px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.label-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 224px;
  font-size: 14px;
  font-weight: 700;
}

.label-count:last-child {
  width: 179px;
}

.form-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-line:last-of-type {
  margin-bottom: 52px;
}

.buttons-count {
  display: flex;
  width: 114px;
  height: 38px;
  background: #f2f2f2;
}

.input-count {
  width: 38px;
  height: 38px;
  padding: 0;
  font-weight: 700;
  text-align: center;
  border: 0;
  background: transparent;
}

.button-count {
  width: 38px;
  height: 38px;
  font-weight: 700;
  font-size: 21px;
  border: 0;
  color: #a9a9a9;
  background: transparent;
}

.quote {
  padding-top: 51px;
  min-height: 290px;
}

.quote h2 {
  width: 500px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.quote p {
  max-width: 450px;
  min-height: 50px;
  margin: 25px auto 43px auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.map img {
  display: block;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 100px 36px 133px;
  margin-top: -120px;
  background: rgba(255, 255, 255, 0.9);
}

.site-hotels .footer {
  margin-top: 0;
}

.footer .visit-sedona {
  padding-bottom: 5px;
  font-size: 21px;
}

.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  margin: 0;
}

.footer .link-academy {
  width: 200px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.footer p {
  position: relative;
  top: 15px;
}

@-moz-document url-prefix() {

  .future-item-gray .future-item-wrapper {
    min-height: 250px;
    padding-bottom: 56px;
  }
}

.link-academy {
  display: flex;
  align-items: center;
}

.social li {
  margin-right: 6px;
}

.social li:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link.twitter::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-twitter.svg");
}

.social-link.facebook::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/fb-icon.svg");
}

.social-link.youtube::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-youtube.svg");
}

.social-link:active::before {
  opacity: 0.3;
}

.social-link {
  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.website-by {
  margin-right: 7px;
}

.link-academy:hover svg {
  fill: #81b3d2;
}

.link-academy:active svg {
  fill: #bdbbbc;
}

.footer .link-academy {
  text-align: right;
}

.link-academy a {
  position: relative;
  display: block;
  width: 117px;
  height: 40px;
  color: #000000;
}

.link-academy a:hover {
  color: #81b3d2;
}

.link-academy a:active {
  color: #bdbbbc;
}

.section-criteria label {
  font-weight: 400;
  font-size: 14px;
}

.section-criteria legend {
  font-weight: 700;
  font-size: 16px;
}

.section-sorting {
  display: flex;
  align-items: baseline;
  padding: 24px 72px 18px 72px;
}

.section-sorting b {
  margin-right: 49px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.section-sorting p {
  margin-right: 36px;
  font-size: 12px;
}

.sorting {
  margin-right: 34px;
}

.sorting a {
  border-bottom: 1px dotted #81b3d2;
}

.sorting.active a {
  border-bottom: none;
}

.sorting:last-of-type {
  margin-right: 0;
}

.sorting-form {
  display: flex;
  font-size: 12px;
}

.sorting-btn {
  display: flex;
  margin-left: auto;
}

.sorting-btn li {
  margin-left: 14px;
}

.section-sorting .active {
  color: #81b3d2;
}

.section-sorting .type {
  color: #e1e1e1;
}

.section-sorting .sorting:not(.active) {
  color: #e1e1e1;
}

.section-sorting .sorting:not(.active):hover {
  color: #81b3d2;
}

.section-sorting .sorting:not(.active):active {
  color: #000000;
}

.sorting-btn .down-dir {
  fill: #cacaca;
}

.sorting-btn .down-dir:hover {
  fill: #231f20;
}

.sorting-btn .down-dir:active {
  fill: #81b3d2;
}

.sorting-btn .up-dir {
  fill: #81b3d2;
}

.sorting-btn .up-dir:hover {
  fill: #231f20;
}

.sorting-btn .up-dir:active {
  fill: #81b3d2;
}

.section-criteria {
  display: flex;
  height: 217px;
  padding: 27px 68px 28px 71px;
  color: #ffffff;
  background: url("../img/hotel-top-photo.jpg") no-repeat center -55px;
}

.type-infrastructure {
  margin-right: 120px;
}

.filter-range {
  width: 318px;
  margin: 0 3px 50px auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 23px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 155px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  background: #ababab;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 32px 84px 0 84px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  background: transparent;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.hotel h3 {
  margin: 0;
  margin-top: -6px;
}

.hotel {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 29px 72px 29px 72px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid transparent;
  min-height: 151px;
}

.hotel:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-description {
  margin-left: 30px;
}

.hotels ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hotel-table {
  margin-bottom: 12px;
  margin-top: 6px;
  font-size: 14px;
}

.hotels tr {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.hotels .hotel-name {
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
  letter-spacing: 0.3px;
}

.hotels .btn {
  font-weight: 700;
  font-size: 14px;
}

.hotel-amara .pricehotel {
  padding-right: 35px;
  padding-left: 0;
}

.hotel-desert .pricehotel {
  padding-right: 61px;
  padding-left: 0;
}

.hotel-villas .pricehotel {
  padding-right: 18px;
  padding-left: 0;
}

.hotels .amara {
  color: #000000;
}

.hotels .amara:hover {
  color: #81b3d2;
}

.hotels .amara:active {
  color: #b2b2b2;
}

.hotels .quail {
  color: #000000;
}

.hotels .quail:hover {
  color: #81b3d2;
}

.hotels .quail:active {
  color: #b2b2b2;
}

.hotels .poco {
  color: #000000;
}

.hotels .poco:hover {
  color: #81b3d2;
}

.hotels .poco:active {
  color: #b2b2b2;
}

.hotel .btn {
  display: inline-block;
  padding: 0 17px;
  line-height: 27px;
  min-height: 27px;
}

.btn-to-book {
  padding-right: 17px;
  padding-left: 17px;
  margin-left: 2px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #766357;
}

.btn-to-book:hover {
  color: white;
  background-color: #604e43;
}

.btn-to-book:active {
  color: #857871;
  opacity: 0.8;
  background-color: #503e33;
}

.btn-details {
  color: #ffffff;
  background-color: #81b3d2;
}

.btn-details:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.btn-details:active {
  color: #88b6d1;
  opacity: 0.8;
  background-color: #5496bd;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}

.rating-star {
  display: inline-block;
  width: 90px;
  height: 17px;
  margin-bottom: 46px;
  margin-left: auto;
  font-size: 0;
  background: url("../img/icon-star.svg");
  background-repeat: space;
}

.rating-number {
  margin: 0;
  padding: 3px 13px 3px 16px;
  background-color: #f2f2f2;
}

.rating-star.four-stars {
  width: 89px;
}

.rating-star.three-stars {
  width: 65px;
}

.rating-star.two-stars {
  width: 41px;
}

.searching-checkbox {
  margin-top: 24px;
}

.searching-checkbox li {
  margin-bottom: 25px;
}

.form-group-checkbox .checkbox {
  overflow: hidden;
}

.infrastructure-legend {
  font-size: 16px;
}

.section-criteria .label-for-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 21px;
}

.section-criteria .label-for-checkbox::before {
  content: "";
  position: absolute;
  left: 1px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.section-criteria .checkbox:disabled+.label-for-checkbox::before {
  opacity: 0.3;
}

.section-criteria .checkbox {
  display: none;
}

.section-criteria .checkbox:checked+.label-for-checkbox::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}
